/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Formularios */
form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #00909E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #007f7b;
}

/* Lista de estadísticas */
.estadisticas-list li {
    font-size: 18px;
    margin: 10px 0;
}

/* Contenedor de la gráfica */
.grafica-container {
    width: 450px; /* Ajusta el ancho */
    height: 300px; /* Ajusta la altura */
    margin: 0 auto; /* Centrar la gráfica */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Ajustar el tama09o del canvas */
canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 450px;
    max-height: 300px;
}

/* Ajustes para pantallas peque09as */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    .grafica-container {
        width: 90%;
        height: auto;
    }
}

.boton-volver {
    text-align: center;
    margin-top: 20px;
}

.boton-volver .btn {
    display: inline-block;
    background-color: #00909E;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.boton-volver .btn:hover {
    background-color: #007a88;
}


